.Rproj.user
.Rhistory
.RData
.Ruserdata

# mainly to ignore files resulting from build
*.tar.gz
*.Rcheck/

# ignore solutions in demo or tests
**/solution*.json

# ignore tests that I write and do not want to publish
tests/testthat/my_*.R
